@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

:root {
  --background: #e6e9e8;
  --foreground: #2c2f2e;
  --primary: #005f3b;
  --error: #d48181;
  --primaryLight: #44c998;
  --primaryAccent: #008079;
  --secondary: #f9bf29;
  --secondaryLight: #ecc666;
  --secondaryAccent: #776b4b;
  --lightbackground: #eff2f1;
  --light: #f9fafb;
  --secondaryAccen: #c3a865;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-barlow) !important;
}

.ant-menu-item-selected {
  /* background-color: #099665 !important ;
  color: white !important; */
  border-right: 4pt solid #e6e9e8;
  box-shadow: #0a0a0a 2px !important;
}

th.ant-table-cell {
  background-color: var(--primaryLight) !important;
  color: white !important;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

/* .ant-tag {
  background-color: #099665 !important;
  color: white !important;
} */

.ant-form-item-label-wrap.ant-form-item-label {
  position: absolute !important;
  z-index: 10;
  top: -27px;
  padding: 0 3px !important;
}

.ant-select-multiple .ant-select-selection-item {
  color: white !important;
  background-color: var(--primaryLight) !important;
}

.ant-form-item-explain-error {
  text-align: right !important;
  font-size: 13px !important;
  font-weight: 500;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
